/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

/* colours */
:root{
  --primary: #FFE9D2;
  --secondary: #FFE1C4;
  --title: #FF8816;
}

body{
  font-family: "Montserrat", sans-serif;
}

/* layout styles */
nav{
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
}
nav a{
  text-transform: uppercase;
  color: var(--title);
}
nav a span{
  font-weight: bold;
}
nav .sidenav-trigger{
  margin: 0;
}

/* candidate styles */
.candidates{
  margin-top: 20px;
}

.candidates .panel-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.candidates .panel-logo img{
  width: 60px;
  height: 60px;
  margin: 5px;
}

.candidates .panel-title h2{
font-size: 1.2rem;
text-align: center;
margin-top: 0px;

}
.card-panel.candidate{
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-areas: "image details delete";
  position: relative;
}
.candidate img{
  grid-area: image;
  max-width: 60px;
  margin: auto;
}
.candidate-details{
  grid-area: details;
  margin-left: 5px;
}
.candidate-delete{
  grid-area: delete;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.candidate-delete i{
  font-size: 18px;
}
.candidate-title{
  font-weight: bold;
}
.candidate-description{
  font-size: 0.8em;
}

.center{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center .voting-btn{
  border: 0px;
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--title);
  font-weight: 700;
  transition: 0.4s;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;

}

.voting-btn:hover,
.voting-btn:focus{
  color: var(--title);
  background-color: var(--secondary);
  box-shadow: 0px 2px 5px #0a0a0a27;
}

.center-btn{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scan-btn{
  border: 0px;
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--title);
  font-weight: 700;
  transition: 0.4s;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
}

.scan-btn:hover,
.scan-btn:focus{
  color: var(--title);
  background-color: var(--secondary);
  box-shadow: 0px 2px 5px #0a0a0a27;
}

.change-cam-btn{
  border: 0px;
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--title);
  font-weight: 700;
  transition: 0.4s;
  font-size: 0.8rem;
  box-shadow: none;
  margin: 2px;
  font-family: "Montserrat", sans-serif;
}

.change-cam-btn:hover,
.change-cam-btn:focus{
  color: var(--title);
  background-color: var(--secondary);
  box-shadow: 0px 2px 5px #0a0a0a27;
}

.preview{
  width: 200px;
  height: 200px;
}

.note{
  background-color: var(--primary);
  border-radius: 10px;
}

.note p{
  text-align: center;
}

.note p, 
.note span{
  color: var(--title);
}

.note span{
  font-weight: 800;
}

.konfirm-btn{
  border: 0px;
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--title);
  font-weight: 700;
  transition: 0.4s;
  font-size: 0.9rem;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
}

.konfirm-btn:hover,
.konfirm-btn:focus{
  color: var(--title);
  background-color: var(--secondary);
  box-shadow: 0px 2px 5px #0a0a0a27;
}